In [ ]:
# EDA
# Teste

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('sales.csv',low_memory=False)

In [8]:
pd.set_option('display.max_columns', None)
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [9]:
df.bi_st.value_counts()

bi_st
Gross    112333
Net       89144
Valid     84915
Name: count, dtype: int64

In [10]:
df[['status', 'bi_st']]

            status  bi_st
0         received  Valid
1         received  Valid
2         complete    Net
3         complete    Net
4         received  Valid
...            ...    ...
286387        paid  Valid
286388         cod  Valid
286389         cod  Valid
286390         cod  Valid
286391  processing  Gross

[286392 rows x 2 columns]

In [17]:
df.groupby(['bi_st', 'status'])['total'].sum()

bi_st  status
Gross  canceled          1.326427e+08
       holded            1.111873e+05
       payment_review    1.727794e+04
       pending           9.760424e+04
       pending_paypal    2.929000e+02
       processing        7.609037e+04
Net    closed            1.057129e+05
       complete          6.262849e+07
Valid  cod               2.967303e+05
       order_refunded    1.484693e+07
       paid              2.171699e+05
       received          2.162302e+07
       refund            9.870190e+05
Name: total, dtype: float64

In [18]:
df.bi_st.nunique()

3

In [19]:
df['Name Prefix'].nunique()

7

In [20]:
df['Name Prefix'].unique()

array(['Drs.', 'Prof.', 'Mr.', 'Hon.', 'Ms.', 'Mrs.', 'Dr.'], dtype=object)

In [44]:
df.query('full_name == "Titus, Jani" ')

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
5,100367357,2020-11-13,received,595186.0,MEFBUY59B7C3DDC2CA3-42,2.0,39.9,39.9,0.0,39.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
6,100367360,2020-11-13,order_refunded,595192.0,MATDAN59C3C845B38F0,2.0,47.6,47.6,0.0,47.6,Mobiles & Tablets,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [38]:
pd.set_option('display.max_columns', None)
df.sample(10
          )

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
78287,100510671,2021-05-10,order_refunded,821053.0,SOGALM5A8BD561CA84E,21.0,10.0,200.0,0.000,200.000,Soghaat,cod,Valid,41724.0,2021,May-2021,952842,Ms.,Rheba,X,Vanness,F,28.0,"Vanness, Rheba",rheba.vanness@hotmail.com,5/18/2002,133-98-9030,803-444-3009,Pacolet Mills,Spartanburg,Pacolet Mills,SC,29373,South,rxvanness,0.000000
109944,100422544,2020-12-28,complete,690416.0,APPTHU5A0B50CD45242,2.0,49.9,49.9,0.000,49.900,Appliances,cod,Net,71524.0,2020,Dec-2020,546046,Mr.,Gaylord,K,Eason,M,67.0,"Eason, Gaylord",gaylord.eason@yahoo.com,5/23/2003,578-53-3678,215-545-3833,Harrisburg,Dauphin,Harrisburg,PA,17103,Northeast,gkeason,0.000000
242784,100510413,2021-05-09,canceled,820638.0,MATAPP5A7AABA646B81,2.0,10393.9,10393.9,0.000,10393.900,Mobiles & Tablets,Easypay,Gross,104038.0,2021,May-2021,229500,Mr.,Rodrick,M,Vinton,M,56.0,"Vinton, Rodrick",rodrick.vinton@gmail.com,3/7/2000,146-23-4539,603-258-5670,Portsmouth,Rockingham,Portsmouth,NH,3804,Northeast,rmvinton,0.000000
163232,100435967,2021-01-13,canceled,713670.0,MEFWIN5A01AA2B52915,2.0,24.9,24.9,0.000,24.900,Men's Fashion,Easypay,Gross,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.000000
261380,100530361,2021-06-19,received,851191.0,MEFATA5A8133482F62A,2.0,360.0,360.0,63.584,296.416,Men's Fashion,bankalfalah,Valid,108688.0,2021,Jun-2021,318260,Mrs.,Elois,Z,Mateer,F,51.0,"Mateer, Elois",elois.mateer@hotmail.com,12/5/2002,570-99-4036,215-583-9591,Salona,Clinton,Salona,PA,17767,Northeast,ezmateer,17.662222
161544,100442013,2021-02-03,order_refunded,724569.0,WOF10059EE619EA0F94,2.0,48.2,48.2,0.000,48.200,Women's Fashion,cod,Valid,82632.0,2021,Feb-2021,476394,Drs.,Kasandra,G,Desmarais,F,27.0,"Desmarais, Kasandra",kasandra.desmarais@yahoo.com,2/25/2017,230-99-0474,216-663-2236,Cleveland,Cuyahoga,Cleveland,OH,44115,Midwest,kgdesmarais,0.000000
232881,100497369,2021-04-29,received,805760.0,OTHPCB5AB351ED4B730,6.0,500.0,2500.0,0.000,2500.000,Others,Easypay,Valid,100039.0,2021,Apr-2021,840158,Drs.,Pattie,N,Gehrke,F,60.0,"Gehrke, Pattie",pattie.gehrke@hotmail.com,5/14/2016,531-71-7783,212-462-8556,Rodman,Lewis,Rodman,NY,13610,Northeast,pngehrke,0.000000
186363,100461670,2021-03-26,order_refunded,757429.0,MEFTHE5A717729CC759-42,2.0,139.9,139.9,0.000,139.900,Men's Fashion,cod,Valid,87453.0,2021,Mar-2021,907049,Hon.,Erin,L,Bouknight,M,28.0,"Bouknight, Erin",erin.bouknight@gmail.com,6/29/2013,452-99-4105,216-222-8834,Cincinnati,Hamilton,Cincinnati,OH,45231,Midwest,elbouknight,0.000000
105956,100398731,2020-12-23,complete,649075.0,WOFLAL59AD99011EF47,2.0,105.0,105.0,10.500,94.500,Women's Fashion,easypay_voucher,Net,70749.0,2020,Dec-2020,786400,Mr.,Gonzalo,O,Dacus,M,40.0,"Dacus, Gonzalo",gonzalo.dacus@hotmail.com,7/4/2013,395-33-8766,229-700-3617,Avondale Estates,DeKalb,Avondale Estates,GA,30002,South,godacus,10.000000
284310,100558548,2021-09-16,received,898934.0,APPCAM5B605D2D16349,2.0,82.8,82.8,0.000,82.800,Appliances,cod,Valid,114565.0,2021,Sep-2021,494160,Mrs.,Casie,Z,Britton,F,31.0,"Britton, Casie",casie.britton@hotmail.com,7/16/2008,263-99-5680,215-489-8038,Beyer,Indiana,Beyer,PA,16211,Northeast,czbritton,0.000000

In [46]:
df.query('full_name == "Oren, Flossie"')

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
163230,100435964,2021-01-13,canceled,713665.0,WOFDEA59F1ECE8BE4DC,2.0,79.9,79.9,0.0,79.9,Women's Fashion,Payaxis,Gross,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.0
163231,100435964,2021-01-13,canceled,713666.0,MEFWIN5A01AA2B52915,2.0,24.9,24.9,0.0,24.9,Men's Fashion,Payaxis,Gross,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.0
163232,100435967,2021-01-13,canceled,713670.0,MEFWIN5A01AA2B52915,2.0,24.9,24.9,0.0,24.9,Men's Fashion,Easypay,Gross,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.0
163233,100435968,2021-01-13,canceled,713671.0,MEFWIN5A01AA2B52915,2.0,24.9,24.9,0.0,24.9,Men's Fashion,Easypay,Gross,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.0
163234,100436010,2021-01-13,complete,713740.0,MEFWIN5A01AA2B52915,2.0,24.9,24.9,0.0,24.9,Men's Fashion,cod,Net,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.0
163235,100436010,2021-01-13,complete,713741.0,WOFDEA59F1ECE8BE4DC,2.0,79.9,79.9,0.0,79.9,Women's Fashion,cod,Net,14926.0,2021,Jan-2021,342669,Ms.,Flossie,M,Oren,F,46.0,"Oren, Flossie",flossie.oren@aol.com,1/20/1984,349-08-8302,240-388-3907,Mardela Springs,Wicomico,Mardela Springs,MD,21837,South,fmoren,0.0

In [48]:
df.groupby(['payment_method'])['total'].sum()

payment_method
Easypay              5.466165e+07
Easypay_MA           6.712672e+06
Payaxis              3.802795e+07
apg                  1.373653e+06
bankalfalah          4.785926e+07
cashatdoorstep       3.799200e+03
cod                  3.277232e+07
customercredit       1.963930e+06
easypay_voucher      4.205570e+07
financesettlement    2.059900e+03
jazzvoucher          5.542017e+06
jazzwallet           2.508311e+06
mcblite              1.668736e+05
Name: total, dtype: float64

In [50]:
df.columns

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender',
       'age', 'full_name', 'E Mail', 'Customer Since', 'SSN', 'Phone No. ',
       'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name',
       'Discount_Percent'],
      dtype='object')

In [53]:
df.groupby(['Gender','category'])['total'].sum()

Gender  category
F       Appliances            1.502506e+07
        Beauty & Grooming     1.272931e+06
        Books                 1.303474e+04
        Computing             4.305780e+06
        Entertainment         1.344521e+07
        Health & Sports       4.162642e+05
        Home & Living         9.929124e+05
        Kids & Baby           4.242669e+05
        Men's Fashion         2.277410e+06
        Mobiles & Tablets     6.626686e+07
        Others                7.374591e+06
        School & Education    5.100410e+04
        Soghaat               2.826469e+05
        Superstore            1.364015e+06
        Women's Fashion       3.140816e+06
M       Appliances            1.503577e+07
        Beauty & Grooming     1.371817e+06
        Books                 1.938221e+04
        Computing             5.056563e+06
        Entertainment         1.369322e+07
        Health & Sports       6.036934e+05
        Home & Living         8.176699e+05
        Kids & Baby           4.319464e+05
        Men's Fashion         2.542736e+06
        Mobiles & Tablets     6.384513e+07
        Others                8.189744e+06
        School & Education    6.373602e+04
        Soghaat               2.940530e+05
        Superstore            1.522892e+06
        Women's Fashion       3.509025e+06
Name: total, dtype: float64

In [55]:
df.groupby(['Gender','category'])['total'].sum().reset_index().sort_values(by=['Gender', 'total'], ascending=False)

   Gender            category         total
24      M   Mobiles & Tablets  6.384513e+07
15      M          Appliances  1.503577e+07
19      M       Entertainment  1.369322e+07
25      M              Others  8.189744e+06
18      M           Computing  5.056563e+06
29      M     Women's Fashion  3.509025e+06
23      M       Men's Fashion  2.542736e+06
28      M          Superstore  1.522892e+06
16      M   Beauty & Grooming  1.371817e+06
21      M       Home & Living  8.176699e+05
20      M     Health & Sports  6.036934e+05
22      M         Kids & Baby  4.319464e+05
27      M             Soghaat  2.940530e+05
26      M  School & Education  6.373602e+04
17      M               Books  1.938221e+04
9       F   Mobiles & Tablets  6.626686e+07
0       F          Appliances  1.502506e+07
4       F       Entertainment  1.344521e+07
10      F              Others  7.374591e+06
3       F           Computing  4.305780e+06
14      F     Women's Fashion  3.140816e+06
8       F       Men's Fashion  2.277410e+06
13      F          Superstore  1.364015e+06
1       F   Beauty & Grooming  1.272931e+06
6       F       Home & Living  9.929124e+05
7       F         Kids & Baby  4.242669e+05
5       F     Health & Sports  4.162642e+05
12      F             Soghaat  2.826469e+05
11      F  School & Education  5.100410e+04
2       F               Books  1.303474e+04

In [56]:
df.sample(5)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
250230,100550636,2021-08-16,received,885246.0,COMTOP5A6FF79496970,2.0,55.0,55.0,0.0,55.0,Computing,cod,Valid,106120.0,2021,Aug-2021,182587,Mrs.,Brandi,S,Selby,F,74.0,"Selby, Brandi",brandi.selby@comcast.net,3/19/2015,212-91-9882,201-610-8029,Medford,Burlington,Medford,NJ,8055,Northeast,bsselby,0.000000
24099,100358531,2020-10-20,canceled,581515.0,SOGCRY59ACB3C86E090,2.0,7.3,7.3,0.0,7.3,Soghaat,Payaxis,Gross,53222.0,2020,Oct-2020,334029,Mr.,Stephen,K,Bryd,M,56.0,"Bryd, Stephen",stephen.bryd@microsoft.com,7/12/1999,683-24-1471,217-871-6528,Joy,Mercer,Joy,IL,61260,Midwest,skbryd,0.000000
52012,100385904,2020-12-20,complete,626343.0,ENTSAM5A0BF25AA030B,2.0,2858.8,2858.8,300.0,2558.8,Entertainment,Easypay,Net,2064.0,2020,Dec-2020,326501,Ms.,Rosalind,X,Goosby,F,72.0,"Goosby, Rosalind",rosalind.goosby@gmail.com,1/29/1991,323-11-1922,218-907-8093,Carlos,Douglas,Carlos,MN,56319,Midwest,rxgoosby,10.493914
55370,100476204,2021-04-14,complete,779666.0,BAGSHO5A3233ED2F0F6,2.0,58.8,58.8,0.0,58.8,Beauty & Grooming,cod,Net,3500.0,2021,Apr-2021,883193,Prof.,Emmitt,C,Healey,M,66.0,"Healey, Emmitt",emmitt.healey@hotmail.co.uk,3/18/2016,391-33-3242,385-981-9988,Ivins,Washington,Ivins,UT,84738,West,echealey,0.000000
200991,100463578,2021-03-28,order_refunded,760647.0,APPUNI5A042FB31DD4E,2.0,735.0,735.0,0.0,735.0,Appliances,cod,Valid,90830.0,2021,Mar-2021,144786,Mr.,Kip,G,Perkinson,M,66.0,"Perkinson, Kip",kip.perkinson@gmail.com,4/15/2015,034-92-2400,503-603-7422,Seal Rock,Lincoln,Seal Rock,OR,97376,West,kgperkinson,0.000000

In [57]:
df.year.unique()

array([2020, 2021], dtype=int64)

In [58]:
df.groupby(['year', 'month'])['total'].sum()

year  month
2020  Dec-2020    5.766699e+07
      Nov-2020    1.148501e+07
      Oct-2020    5.299812e+06
2021  Apr-2021    3.669856e+07
      Aug-2021    2.052181e+07
      Feb-2021    4.404198e+06
      Jan-2021    7.141194e+06
      Jul-2021    1.903746e+07
      Jun-2021    2.464510e+07
      Mar-2021    2.516152e+07
      May-2021    1.005662e+07
      Sep-2021    1.153192e+07
Name: total, dtype: float64

In [62]:
df.groupby(['order_date'])['total'].sum()

order_date
2020-10-01    219672.11100
2020-10-02     78931.49000
2020-10-03    254652.23035
2020-10-04    105074.33500
2020-10-05    124694.49800
                  ...
2021-09-26    122478.87750
2021-09-27    263124.66000
2021-09-28    307490.84000
2021-09-29    190946.18200
2021-09-30    184022.22500
Name: total, Length: 365, dtype: float64

In [63]:
df.order_date.nunique()

365

In [65]:
df.groupby('status')['order_id'].count().reset_index().sort_values(by='order_id', ascending=False)

            status  order_id
0         canceled    112166
3         complete     88968
11        received     51775
5   order_refunded     25713
12          refund      3820
2              cod      2851
6             paid       756
1           closed       176
7   payment_review        57
8          pending        48
10      processing        33
4           holded        25
9   pending_paypal         4

In [66]:
df.query('status == "canceled"')['payment_method'].value_counts()

payment_method
Easypay              42063
Payaxis              17327
bankalfalah          16179
easypay_voucher      11267
cod                   8854
Easypay_MA            7683
jazzwallet            4193
jazzvoucher           3215
apg                   1361
customercredit          21
mcblite                  2
financesettlement        1
Name: count, dtype: int64

In [67]:
# pagamento mais aprovado 

df.query('status == "complete"')['payment_method'].value_counts()

payment_method
cod                41607
Easypay            17312
easypay_voucher    15772
Payaxis             7964
Easypay_MA          2485
customercredit      1411
jazzvoucher          876
jazzwallet           837
bankalfalah          586
mcblite               86
apg                   27
cashatdoorstep         5
Name: count, dtype: int64

In [71]:
df.query('status == "canceled"').groupby(['category','sku'])['order_id'].count().reset_index().sort_values(by='order_id', ascending=False).head(10)

                category                  sku  order_id
13584  Mobiles & Tablets  MATSAM59DB75ADB2F80       882
1193          Appliances  APPNAT5A0A01860CE92       449
13732  Mobiles & Tablets  MATSAM5A7463EE3C1A5       448
13573  Mobiles & Tablets  MATSAM59DB757FB47A2       445
13912  Mobiles & Tablets  MATSAM5B10F7E2AC8C1       398
14557             Others  OTHPCB5A7D8A0DA56C6       396
14660             Others  OTHPCB5ABB207927CA9       391
5006       Entertainment  ENTNOB5A4633C950FAD       385
14650             Others  OTHPCB5ABB2073BDF0C       368
4819       Entertainment  ENTECO5A7FE80D6C830       365

In [75]:
df.query('sku == "MATSAM59DB75ADB2F80"')['status'].value_counts()

status
complete          2863
canceled           882
order_refunded      26
refund               2
received             2
Name: count, dtype: int64

In [76]:
df.head(10)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
5,100367357,2020-11-13,received,595186.0,MEFBUY59B7C3DDC2CA3-42,2.0,39.9,39.9,0.0,39.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
6,100367360,2020-11-13,order_refunded,595192.0,MATDAN59C3C845B38F0,2.0,47.6,47.6,0.0,47.6,Mobiles & Tablets,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
7,100354677,2020-10-01,canceled,574769.0,GFE_19_USBLEDLight,2.0,49.0,49.0,0.0,49.0,Mobiles & Tablets,Payaxis,Gross,42485.0,2020,Oct-2020,171143,Prof.,Lee,S,Eaker,M,28.0,"Eaker, Lee",lee.eaker@gmail.com,2/4/1981,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0
8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.0,135.0,0.0,135.0,Computing,Payaxis,Gross,42485.0,2020,Oct-2020,171143,Prof.,Lee,S,Eaker,M,28.0,"Eaker, Lee",lee.eaker@gmail.com,2/4/1981,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0
9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.9,549.9,0.0,549.9,Appliances,Payaxis,Gross,42485.0,2020,Oct-2020,171143,Prof.,Lee,S,Eaker,M,28.0,"Eaker, Lee",lee.eaker@gmail.com,2/4/1981,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0

In [79]:
df.groupby('State')['total'].sum().reset_index().sort_values(by='total', ascending=False).head(10)

   State         total
43    TX  1.546746e+07
4     CA  1.387618e+07
34    NY  1.136510e+07
38    PA  1.015904e+07
14    IL  9.106895e+06
9     FL  8.459037e+06
45    VA  8.193937e+06
35    OH  8.147443e+06
24    MO  8.000870e+06
17    KY  6.994809e+06

In [85]:
df.query('State == "TX"').groupby([ 'City'])['total'].sum().reset_index().sort_values(by='total', ascending=False).head(10)

             City         total
488       Houston  1.069884e+06
37         Austin  6.909021e+05
951   San Antonio  6.632424e+05
324       El Paso  6.305386e+05
1015    Sour Lake  6.299461e+05
278       Detroit  5.687394e+05
253        Dallas  5.466035e+05
123    Brownfield  4.603973e+05
512        Irving  3.458648e+05
727        Morton  3.435990e+05

In [87]:
df.query('City == "Houston"').groupby([ 'category'])['total'].sum().reset_index().sort_values(by='total', ascending=False).head(10)

             category         total
9   Mobiles & Tablets  658748.15196
0          Appliances  129854.74418
4       Entertainment  121492.74100
10             Others   57650.00000
8       Men's Fashion   36381.09000
3           Computing   32276.57000
14    Women's Fashion   27099.91276
1   Beauty & Grooming    6653.81310
13         Superstore    5880.32934
5     Health & Sports    4758.80500

In [88]:
df.head(10)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
5,100367357,2020-11-13,received,595186.0,MEFBUY59B7C3DDC2CA3-42,2.0,39.9,39.9,0.0,39.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
6,100367360,2020-11-13,order_refunded,595192.0,MATDAN59C3C845B38F0,2.0,47.6,47.6,0.0,47.6,Mobiles & Tablets,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
7,100354677,2020-10-01,canceled,574769.0,GFE_19_USBLEDLight,2.0,49.0,49.0,0.0,49.0,Mobiles & Tablets,Payaxis,Gross,42485.0,2020,Oct-2020,171143,Prof.,Lee,S,Eaker,M,28.0,"Eaker, Lee",lee.eaker@gmail.com,2/4/1981,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0
8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.0,135.0,0.0,135.0,Computing,Payaxis,Gross,42485.0,2020,Oct-2020,171143,Prof.,Lee,S,Eaker,M,28.0,"Eaker, Lee",lee.eaker@gmail.com,2/4/1981,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0
9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.9,549.9,0.0,549.9,Appliances,Payaxis,Gross,42485.0,2020,Oct-2020,171143,Prof.,Lee,S,Eaker,M,28.0,"Eaker, Lee",lee.eaker@gmail.com,2/4/1981,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0

In [90]:
df.groupby('category')['Discount_Percent'].mean().reset_index().sort_values(by='Discount_Percent', ascending=False).head(10)

category
Appliances            9.360799
Beauty & Grooming     5.503726
Books                 0.911449
Computing             8.783462
Entertainment         9.735056
Health & Sports       3.251623
Home & Living         4.504001
Kids & Baby           3.496430
Men's Fashion         3.666560
Mobiles & Tablets     8.101317
Others                0.274586
School & Education    2.459368
Soghaat               4.488234
Superstore            9.401311
Women's Fashion       5.052338
Name: Discount_Percent, dtype: float64